<% @lists.each do |list| %>
    <div style="page-break-after: always; " align="center" >
      <img src="../../uploadImages/InvoicePic/<%= list[0].inv_pic %>" alt="" style="align:center;">
    </div>
<% end %>
