<% @lists.each do |list| %>
    <div style="page-break-after: always; align-items: center" >
      <img src="../../uploadImages/IdPic/<%= list[0].id_pic %>" alt="" style="align:center">
    </div>
<% end %>
