<!DOCTYPE html>
<html>
  <head>
    <title>快件进口</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
